body{
    display: grid;
    grid-template-areas: 'nav' 'form' 'footer';
    grid-template-rows: 10vh 90vh 30vh;
    margin: 0;
}
nav{
    align-items: center;
    background-color: #ffbf37;
    display: flex;
    grid-area: nav;
}
nav p{
    color: white;
    margin: 0;
}
section{
    display: flex;
    justify-content: center;
    width: 100%;
}
#formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}
#formulario h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22pt;
}
::-webkit-input-placeholder  { 
    color: white; 
}
#formulario input{
    background-color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 20px;
    border: 1px solid #2674A8;
    border-left: none;
    color: white;
    height: 25px;
    margin-bottom: 5px;
    width: 280px;
    padding-left: 10px;
}
#formulario input:focus{
    outline: 0;
}
#formulario input[type="submit"]{
    background-color: #2674A8;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    height: 30px;
    margin-top: 5px;
    width: 110px;
}
#formulario input[type="submit"]:hover{
    background-color: #2b84bf;
    transition: 0.6s;
}
#formulario form div h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    margin: 0;
}
#center-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
footer{
    align-items: center;
    background-color: #ffbf37;
    color: white;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    grid-area: footer;
    justify-content: space-around;
}
.title{
    font-weight: bold;
}
#sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
#sociais img{
    width: 40px;
}
#btn-chat{
    background-color: #2674A8;
    border: none;
    border-radius: 100%;
    bottom: 30px;
    cursor: pointer;
    height: 60px;
    position: fixed;
    right: 30px;
    width: 60px;
}
#btn-chat img{
    width: 50px;
}
::-webkit-scrollbar{
    background-color: #ffbf37;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffbf37;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: #2674A8;
    border-radius: 5px;
}