*{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas:
                        'header header header header'
                        'projeto projeto projeto projeto'
                        'cadastro cadastro cadastro cadastro'
                        'pilares pilares pilares pilares'
                        'footer footer footer footer';
    grid-template-rows:  100vh 100vh 100vh 100vh 30vh; 
    margin: 0;
}

header{
    background-attachment: fixed;
    background-image: url("/static/imagens/pessoas.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    grid-area: header;
    justify-content: space-between;
}
header nav ul {	
    align-items: center;	
    display: flex; 	
    justify-content: flex-end;
    list-style-type: none;	
}
header a {	
    color: white;	
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    text-decoration: none;	
}	

header a:hover {	
    color: #2674A8;
    transition: 0.3s;
}
#navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;

}
#boxSize{
    display: flex;
    justify-content: center;
    width: 200px;
}
#navPrincipal{
    width: 100%;
}
#octopusLogo{
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
}
#octopus{
    color: white;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
}
#text{
    font-size: 12pt;
    text-align: justify;
    width: 300px;
}
.fixedMenu{
    background: #ffbf37;
    height: auto;	
    position: fixed;	
    top: 0px;
    transition: 1s;
    width: 100%;	
    z-index: 100;
}
#projeto{
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: projeto;
}
#largura-projeto{
    display: grid;
    grid-template-areas:'titulo titulo titulo titulo'
                        'img img img img';
    grid-template-rows: 10% 90%;
    height: 95%;
    width: 90%;
}
#titulo-projeto{
    grid-area: titulo;
    width: 95%;
}
#titulo-projeto aside{
    border-left: 3px solid #2674A8;
    padding-left: 10px;
}
#titulo-projeto h2{
    color: #ffbf37;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    margin: 0;
}
#como-funciona-projeto{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    grid-area: img;
    justify-content: space-between;
}
#img-projeto{
    align-items: flex-end;
    background-color: rgb(255, 214, 34);
    display: flex;
    justify-content: center;
}
#txt-projeto{
    text-align: initial;
    width: 60%;
}
#txt-projeto h2{
    color: #ffbf37;
    margin: 0;
}
#imgs-passo-a-passo{
    display: flex;
    justify-content: space-between;
}
#imgs-passo-a-passo aside h3{
    color: #ffbf37;
    text-align: center;
    margin: 0;
}
#imgs-passo-a-passo img{
    margin: 10px 0 10px 0;
    width: 110px;
}

#cadastro{
    grid-area: cadastro;
    display: grid;
    grid-template-areas: 'navi navi navi navi'
                         'template1 template1 template1 template1';
    grid-template-rows: 8vh 90vh;
    background-image: url(/static/imagens/vida.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.navi{
    grid-area: navi; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    color: #ffbf37;
    padding-inline-end: 42%;
    padding-inline-start: 5%;
}
.navi span{
    color: #2674A8;
}
.template1{
    grid-area: template1;
    display: flex;
}
.esquerda{
    width: 45%;
    height: 100%;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 70%;
    margin-top: 4.5%;
}
.or img{
    width: 45px;
    height: 400px;
}
.direita{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.user{
    border: 1px solid #2674A8;
    width: 45%;
    height: 4.5%;
    margin-bottom: 2%;
    border-radius: 10px 10px 10px;
    background-color: rgba(0,0,0,0.5);
    background-image: url(/static/icones/user.png);
    background-size: 4% auto;
    background-repeat: no-repeat;
    background-position: left 5px top 5.5px;
}
.senha{
    border: 1px solid #2674A8;
    width: 45%;
    height: 4.5%;
    margin-bottom: 2%;
    border-radius: 10px 10px 10px;
    background-color: rgba(0,0,0,0.5);
    background-image: url(/static/icones/lock.png);
    background-size: 4% auto;
    background-repeat: no-repeat;
    background-position: left 5px top 5.5px;
}
.botao{
    border: none;
    color: white;
    background-color: #2674A8;
    cursor: pointer;
    margin-top: 2%;
    width: 15%;
    height: 5%;
    border-radius: 10px 10px 10px;
}

#pilares{
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: pilares;
}
#largura-pilares{
    display: grid;
    grid-template-areas:'titulo-pilares titulo-pilares titulo-pilares titulo-pilares'
                        'pilares pilares pilares pilares';
    grid-template-rows: 10% 90%;
    height: 95%;
    width: 95%;
}
#titulo-pilares{
    grid-area: titulo-pilares;
    width: 95%;
}
#titulo-pilares aside{
    border-left: 3px solid #2674A8;
    padding-left: 10px;
}
#titulo-pilares h2{
    color: #ffbf37;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    margin: 0;
}
.pilares{
    display: grid;
    grid-area: pilares;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.pilar{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.pilar img{
    width: 28%;
}
footer{
    align-items: center;
    background-color: #ffbf37;
    color: white;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    grid-area: footer;
    justify-content: space-around;
}
#sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
#sociais img{
    width: 40px;
}