*{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas:
                        'header header header header'
                        'projeto projeto projeto projeto'
                        'cadastro cadastro cadastro cadastro'
                        'pilares pilares pilares pilares'
                        'footer footer footer footer';
    grid-template-rows:  100vh 90vh 90vh 90vh 30vh; 
    margin: 0;
}

header{
    background-attachment: fixed;
    background-image: url("/static/imagens/pessoas.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    grid-area: header;
    justify-content: space-between;
}
header nav ul {	
    align-items: center;	
    display: flex; 	
    justify-content: flex-end;
    list-style-type: none;	
}
header a {	
    color: white;	
    font-family: 'Ubuntu', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    text-decoration: none;	
}	

header a:hover {	
    color: #2674A8;
    transition: 0.3s;
}	
#projeto{
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: projeto;
}
#largura-projeto{
    display: grid;
    grid-template-areas:'titulo titulo titulo titulo'
                        'img img img img';
    grid-template-rows: 10% 90%;
    height: 95%;
    width: 90%;
}
#titulo-projeto{
    grid-area: titulo;
    width: 95%;
}
#titulo-projeto aside{
    border-left: 3px solid #2674A8;
    padding-left: 10px;
}
#titulo-projeto h2{
    color: #ffbf37;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    margin: 0;
}
#como-funciona-projeto{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    grid-area: img;
    justify-content: space-between;
}
#img-projeto{
    align-items: flex-end;
    background-color: rgb(255, 214, 34);
    display: flex;
    justify-content: center;
}
#txt-projeto{
    text-align: initial;
    width: 60%;
}
#txt-projeto h2{
    color: #ffbf37;
    margin: 0;
}
#imgs-passo-a-passo{
    display: flex;
    justify-content: space-between;
}
#imgs-passo-a-passo aside h3{
    color: #ffbf37;
    text-align: center;
    margin: 0;
}
#imgs-passo-a-passo img{
    margin: 10px 0 10px 0;
    width: 110px;
}
#cadastro{
    background-image: url(/static/imagens/vida.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    grid-area: cadastro;
    display: flex;
}
.esquerda{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.or{
    width: 3%;
    height: 70%;
    margin-top: 6%;
    /* background-color: black; */
}
.or img{
    width: 45px;
    height: 400px;
}
.direita{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
.esquerda, .direita h1{
    color: #ffbf37;
    font-family: 'Ubuntu', sans-serif;
}
.direita span{
    padding-left: 10%;
    padding-right: 1%;
    color: #2674A8;
}
.esquerda span{
    padding-left: 10%;
    padding-right: 1%;
    color: #2674A8;
}

#pilares{
    background-color: purple;
    grid-area: pilares;
}
footer{
    align-items: center;
    background-color: #ffbf37;
    color: white;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    grid-area: footer;
    justify-content: space-around;
}
#sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
#sociais img{
    width: 40px;
}
#navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;

}
#boxSize{
    display: flex;
    justify-content: center;
    width: 200px;
}
#navPrincipal{
    width: 100%;
}
#octopusLogo{
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
}
#octopus{
    color: white;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
}
#text{
    font-size: 12pt;
    text-align: justify;
    width: 300px;
}
.fixedMenu{
    background: #ffbf37;
    height: auto;	
    position: fixed;	
    top: 0px;
    transition: 0.7s;
    width: 100%;	
    z-index: 100;
}