{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
<header id="header">
    <div id="navPrincipal" >
        <nav>
            <div id="navbar">
                <div id="boxSize">
                    <a  href="#">
                        <img id="octopusLogo" src="{% static 'icones/polvinho1.png' %}" alt="Logo octopus">
                    </a>
                </div>
                <ul class="lista">
                    <li>
                        <div id="boxSize">
                            <a id="oProjeto" href="#">
                                HOME
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id="boxSize">
                            <a id="" href="#projeto">
                                O PROJETO
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id="boxSize">
                            <a id="" href="#cadastro">
                                ENTRAR
                            </a>
                        </div>
                    </li>
                    <li>
                        <div id="boxSize">
                            <a id="" href="#pilares">
                                PILARES
                            </a>
                        </div>
                    </li>
                </ul>
            </div>             
        </nav>
    </div>
    <div id="octopus">
        <div id="logoOctopus">
            <img src="{% static 'icones/logo1.png' %}" alt="">
        </div>
        <div id="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Animi eius nihil rerum voluptatem assumenda.</p>
        </div>
        
    </div>
</header>
<section id="projeto">
    <div id="largura-projeto">
        <div id="titulo-projeto">
            <aside><h2>O PROJETO</h2></aside>
        </div>
        <div id="como-funciona-projeto">
            <div id="img-projeto">
                <img src="{% static 'imagens/smartphone.png' %}" alt="">
            </div>
            <div id="txt-projeto">
                <h2>Como funciona?</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis aspernatur nobis ipsum delectus suscipit adipisci dolores iste quam fugit expedita impedit vitae, cupiditate cumque optio minima consectetur mollitia vel! Ipsam?adipisci dolores iste quam fugit expedita impedit vitae, cupiditate cumque optio minima consectetur mollitia vel! Ipsam?adipisci dolores iste quam fugit expedita impedit vitae, cupiditate cumque optio minima consectetur mollitia vel! Ipsam?adipisci dolores iste</p>
                <div id="imgs-passo-a-passo">
                    <aside>
                        <img src="{% static 'icones/smartphone.png' %}" alt="">
                        <h3>1. Faça o </h3><h3>seu cadastro</h3>
                    </aside>
                    <aside>
                        <img src="{% static 'icones/controls.png' %}" alt="">
                        <h3>2. Construa</h3><h3>o seu perfil</h3>
                    </aside>
                    <aside>
                        <img src="{% static 'icones/step.png' %}" alt="">
                        <h3>3. Dê um passo</h3><h3>de cada vez</h3>
                    </aside>
                    <aside>
                        <img src="{% static 'icones/like.png' %}" alt="">
                        <h3>4. Siga</h3><h3>em frente</h3>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cadastro">
    <div class="navi">
        <h1><span>|</span> CADASTRO</h1>
        <h1><span>|</span> LOGIN</h1>
    </div>
    
    <div class="template1">
        <div class="esquerda">

        </div>
        
        <div class="or">
            <img src="{% static 'imagens/or.png' %}" alt="">
        </div>
        
        <div class="direita">
            <input type="text" class="user">
            <input type="text" class="senha">
            <input type="submit" class="botao" value="Login">
        </div>
    </div>
</section>

<section id="pilares">
    <div id="titulo-projeto">
        <h2>PILARES</h2>
    </div>
    <div class="pilares">
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>
        <div class="pilar">
            <img src="" alt="">
            <h3>texto</h3>
            <p>texto texto texto</p>
        </div>

    </div>

    
</section>
{% endblock %}