{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'icones/octopus.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(window).scroll(function(){
                if($(this).scrollTop() > 100){
                    $(".navbar").css({"opacity" : "1"})
                    $(".navbar").css({"background-color": "#ffbf37"})
                    $("#octopusLogo").attr("src","{% static 'icones/logo2.png' %}" )
                    
                }else{
                    $(".navbar").css({"background-color": "transparent"})
                    $("#octopusLogo").attr("src","{% static 'icones/polvinho1.png' %}" )
                    
                }
            })
        })
    </script>
    <title>Octopus | Página inicial</title>
</head>
<body>
<header>
    
       <nav class="navbar transition">

            <div class="logo">
                <img id="octopusLogo" src="{% static 'icones/polvinho1.png' %}" alt="Logo octopus">                
            </div>
            <div class="menu">
                <a href="#">Inicio</a>
                <a href="#projeto">O Projeto</a>
                <a href="#cadastro">Entre</a>
                <a href="#pilares">Pilares</a>
            </div>

        </nav>
        <section class="bannerContainer">
            
            <div id="container-header">
                <div class="imagem">
                    <img src="{% static 'icones/logo1.png' %}" alt="">
                </div>
                <div class="texto">
                    <p>Valorizando as suas pequenas vitórias e te ajudando a dar os próximos passos.</p>   
                </div>
            </div>
        </section>
</header>
<section id="projeto">
    <div id="largura-projeto">
        <div id="titulo-projeto">
            <aside><h2>O PROJETO</h2></aside>
        </div>
        <div id="como-funciona-projeto">
            <div id="img-projeto">
                <img src="{% static 'imagens/smartphone.png' %}" alt="">
            </div>
            <div id="txt-projeto">
                <h2>Como funciona?</h2>
                <p>Uma plataforma que utiliza missões e recompensas para te incentivar a dar pequenos passos.
                    Após o cadastro, o nosso assistente Octopus irá selecionar algumas de nossas missões para te ajudar nessa jornada que você estará iniciando. Cada missão completada equivale a uma pontuação que posteriormente poderá te dar recompensas. Essas recompesas consistem em medalhas de incentivo para você acompanhar e comemorar o seu progresso.</p>
                <div id="imgs-passo-a-passo">
                    <aside>
                        <img src="{% static 'icones/smartphone.png' %}" alt="">
                        <h3>1. Faça o </h3><h3>seu cadastro</h3>
                    </aside>
                    <aside>
                        <img src="{% static 'icones/controls.png' %}" alt="">
                        <h3>2. Construa</h3><h3>o seu perfil</h3>
                    </aside>
                    <aside>
                        <img src="{% static 'icones/step.png' %}" alt="">
                        <h3>3. Dê um passo</h3><h3>de cada vez</h3>
                    </aside>
                    <aside>
                        <img src="{% static 'icones/like.png' %}" alt="">
                        <h3>4. Siga</h3><h3>em frente</h3>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cadastro">
    <div class="navi">
        <h1><span>|</span> ENTRAR</h1>
    </div>
    <div id="cadastrar">
        <p>Ainda não possui uma conta? </p> <a href="/cadastro"> Cadastre-se!</a>
    </div>
    <div class="template1">
        <div class="esquerda">
            <div id="botoes-login">
                <div class="btn-login">
                    <div id="img-btn-face" class="img-btn-class"><img src="{% static 'icones/face.png' %}" alt=""></div>
                    <button id="btn-face">Entrar com o <span>facebook</span></button>
                </div>
                <div class="btn-login">
                    <div id="img-btn-google" class="img-btn-class"><img src="{% static 'icones/google-plus.png' %}" alt=""></div>
                    <button id="btn-google" class="btn-border">Entrar com o <span>google+</span></button>
                </div>
            </div>
        </div>
        
        <div class="or">
            <img src="{% static 'imagens/or.png' %}" alt="">
        </div>
        
        <div class="direita">
            <div id="form-login">
                <form action="/", method="POST">
                    {% csrf_token %}
                    <div id="icone-input">
                        <div id="img-input">
                            <img src="{% static 'icones/user.png' %}" alt="">
                        </div>
                        {{ form.usuario }}
                    </div>
                    <div id="icone-input">
                        <div id="img-input">
                            <img src="{% static 'icones/lock.png' %}" alt="">
                        </div>
                        {{ form.senha }}
                    </div>
                    {% if msg != ' ' %}
                        {{ msg }}
                    {% endif %}
                    <div id="checkbox-form">
                            <div>
                                <input type="checkbox" name="" id="check-lembrar"><label for="check-lembrar">Lembrar-me</label>
                            </div>
                            <a href="#">Esqueceu a senha?</a>
                        </div>
                        <div id="center-button">
                                {% for message in messages %}
                                <div class="">
                                    <strong>Error!</strong>{{ message }}
                                </div>
                                {% endfor %}
                            <input type="submit" id="botao" value="Entrar">
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="pilares">
    <div id="largura-pilares">
        <div id="titulo-pilares">
            <aside><h2>PILARES</h2></aside>
        </div>
        <div class="pilares">
            <div class="pilar">
                <img src="{% static 'icones/ajuda-profissional.png' %}" alt="">
                <h3>Ajuda Profissional</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/engajamento.png' %}" alt="">
                <h3>Engajamento</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/reeducacao.png' %}" alt="">
                <h3>Reeducação</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/empatia.png' %}" alt="">
                <h3>Empatia</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/cuidado.png' %}" alt="">
                <h3>Cuidado</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/pequenas-conquistas.png' %}" alt="">
                <h3>Pequenas Conquistas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/otimismo.png' %}" alt="">
                <h3>Otimismo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
            <div class="pilar">
                <img src="{% static 'icones/significado.png' %}" alt="">
                <h3>Significado</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nobis quod similique.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}