{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Octopus</title>
</head>
<body>
    <header>
        <div id="navPrincipal" >
            <nav>
                <div id="navbar">
                        <div id="boxSize">
                                <a  href="#">
                                    <img id="octopusLogo" src="{% static 'icones/polvinho1.png' %}" alt="Logo octopus">
                                </a>
                        </div>
                        <ul>
                            <li>
                                <div id="boxSize">
                                    <a id="oProjeto" href="#projeto">
                                        O PROJETO
                                    </a>
                                </div>
                            </li>
                            <li>
                                 <div id="boxSize">
                                    <a id="" href="#cadastro">
                                        CADASTRO
                                    </a>
                                </div>
                            </li>
                            <li>
                                 <div id="boxSize">
                                    <a id="" href="#pilares">
                                        PILARES
                                    </a>
                                </div>
                            </li>
                            <li>
                                 <div id="boxSize">
                                    <a id="" href="">
                                        CONTATO
                                    </a>
                                </div>
                            </li>
                        </ul>
                </div>             
            </nav>
        </div>
        <div id="octopus">
            <div id="logoOctopus">
                <img src="{% static 'icones/logo1.png' %}" alt="">
            </div>
            <div id="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Animi eius nihil rerum voluptatem assumenda.</p>
            </div>
            
        </div>
    </header>
    <section id="projeto">

    </section>
    <section id="cadastro">

    </section>
    <section id="pilares">

    </section>
    <footer>
        
    </footer>
</body>
</html>