{% load staticfiles %}
{% block content %}
{% endblock %}
    <footer>
        <div id="endereco">
            <p class="title">ENDEREÇO</p>
            <p>Estação Hack</p>
            <p>Av. Paulista, 1374 - Bela Vista,</p>
            <p>São Paulo - SP, 01310-100</p>
        </div>
        <div id="contato">
            <p class="title">CONTATO</p>
            <p>+55 11 95288-2296 | +55 11 95196-6416</p>
            <p>+55 11 96661-5470 | +55 11 94508-5115</p>
            <p>octopus@octopus.com.br</p>
        </div>
        <div id="atendimento">
            <p class="title">ATENDIMENTO</p>
            <p>Seg à Sex das 9h às 21h</p>
            <p>Sab das 9h às 13h</p>
        </div>
        <div id="sociais">
            <a href=""><img src="{% static 'icones/instagram.png' %}" alt=""></a>
            <a href=""><img src="{% static 'icones/face.png' %}" alt=""></a>
            <a href=""><img src="{% static 'icones/linkedin.png' %}" alt=""></a>
        </div>
    </footer>
<button id="btn-chat"><img src="{% static 'icones/octopus2.png' %}" alt="" id="img-chat"></button>
</body>
</html>