{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'icones/octopus.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/octopus.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Octopus</title>
</head>
<body>
    <nav>
        <div>
            <img src="{% static 'icones/logo2.png' %}" alt="">
        </div>
        <div id="pontuacao">
            <div>
                <p id="nome-user">Fulano de Tal</p>
                <p id="pontos">516 pontos</p>
            </div>
            <div>
                <img src="{% static 'icones/usuario.png' %}" alt="" id="img-user">
            </div>
        </div>        
    </nav>
    <div id="links">
        <div>
            <a href="#">Missões</a>
            <a href="#">Medalhas</a>
            <a href="#">Buscar Ajuda</a>
        </div>
    </div>
    <section id="missoes">
        <div class="conteudo">

        </div>
    </section>
    <section id="medalhas">
        <div class="conteudo">

        </div>
    </section>
    <section id="ajuda">
        <div class="conteudo">

        </div>
    </section>
{% endblock %}