{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'icones/octopus.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/octopus.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="{% static 'js/octopus.js' %}" defer></script>
    <title>Octopus</title>
</head>

<body>
    <nav>
        <div>
            <img src="{% static 'icones/logo2.png' %}" alt="">
        </div>
        <div id="pontuacao">
            <div>
                <p id="nome-user">Fulano de Tal</p>
                <p id="pontos">600 pontos</p>
            </div>
            <div>
                <img src="{% static 'icones/usuario.png' %}" alt="" id="img-user">
            </div>
        </div>
    </nav>
    <div id="links">
        <div>
            <a href="#">Missões</a>
            <a href="#medalhas">Medalhas</a>
            <a href="#ajuda">Buscar Ajuda</a>
        </div>
    </div>
    <section id="missoes">
        <div class="conteudo">
            <div id="titulo-missoes">
                <aside>
                    <h2>MISSÕES</h2>
                </aside>
            </div>
            <div class="icones">
                <div id="icone">
                    <img src="{% static 'icones/cama.png' %}" alt="">
                    <p>ARRUME A SUA CAMA</p>
                    <input type="checkbox" name="" checked id="" disabled>150 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/chef.png' %}" alt="">
                    <p>FAÇA UMA COMIDA</p>
                    <input type="checkbox" name="" id="" disabled>200 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/claquete.png' %}" alt="">
                    <p>ASSISTA UMA COMÉDIA</p>
                    <input type="checkbox" name="" id="" disabled>100 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/copo-agua.png' %}" alt="">
                    <p>BEBA 2 LITROS DE ÁGUA</p>
                    <input type="checkbox" name="" id="" disabled>200 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/puzzle.png' %}" alt="">
                    <p>JOGUE ALGUM JOGO</p>
                    <input type="checkbox" name="" id="" disabled>100 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/park.png' %}" alt="">
                    <p>VÁ A UM PARQUE/PRAÇA</p>
                    <input type="checkbox" name="" checked id="" disabled>200 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/livro.png' %}" alt="">
                    <p>LEIA UM LIVRO</p>
                    <input type="checkbox" name="" checked id="" disabled>250 pontos
                </div>
                <div id="icone">
                    <img src="{% static 'icones/planta.png' %}" alt="">
                    <p>CUIDE DE UMA PLANTA</p>
                    <input type="checkbox" name="" id="" disabled>100 pontos
                </div>
            </div>
        </div>
    </section>
    <section id="medalhas">
        <div class="conteudo-medalhas">
            <div id="titulo-medalhas">
                <aside>
                    <h2>MEDALHAS</h2>
                </aside>
            </div>
            <div class="icone-medalhas">
                <div id="medalha">
                    <img src="{% static 'icones/medalha-octopus.png' %}" alt="">
                    <p>MEDALHA OCTOPUS</p>
                    <div id="text-span">
                        <span>Fez o seu cadastro e se juntou a nós!</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-ativo.png' %}" alt="">
                    <p>MEDALHA ATIVO</p>
                    <div id="text-span">
                        <span>Entrou no site por 7 dias seguidos.</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-tentaculo.png' %}" alt="">
                    <p>MEDALHA TENTÁCULO</p>
                    <div id="text-span">
                        <span>Completou sua primeira missão. Uma ótima forma de dar o primeiro passo!</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-tinta.png' %}" alt="">
                    <p>MEDALHA TINTA</p>
                    <div id="text-span">
                        <span>Chegou em 1000 pontos. Assim como o polvo, você tem se defendido muito bem!</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-perseverante.png' %}" alt="">
                    <p>MEDALHA PERSEVERANTE</p>
                    <div id="text-span">
                        <span>Completou 100 missões. O Octopus está muito orgulhoso de você!</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-parceiro.png' %}" alt="">
                    <p>MEDALHA PARCEIRO</p>
                    <div id="text-span">
                        <span>Conversou com o Octopus no chatbot pelo menos uma vez.</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-tentaculo.png' %}" alt="">
                    <p>MEDALHA TENTÁCULO</p>
                    <div id="text-span">
                        <span>Completou sua primeira missão. Uma ótima forma de dar o primeiro passo!</span>
                    </div>
                </div>
                <div id="medalha">
                    <img src="{% static 'icones/medalha-tinta.png' %}" alt="">
                    <p>MEDALHA TINTA</p>
                    <div id="text-span">
                        <span>Chegou em 1000 pontos. Assim como o polvo, você tem se defendido muito bem!</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ajuda">
        <div class="conteudo-ajuda">
            <div id="titulo-ajuda">
                <aside>
                    <h2>BUSCAR AJUDA</h2>
                </aside>
            </div>
            <div class="servicos">
                <div id="teste">
                    <p id="titulo-servicos">SERVIÇOS DE SAÚDE</p>
                    <p>CAPS, Unidades Básicas de Saúde e UPA</p>
                    <p id="titulo-servicos">Emergências</p>
                    <p>SAMU 192, Pronto Socorro e Hospitais</p>
                </div>
                <div id="teste1">
                    <p id="titulo-servicos">Centro de Valorização da Vida - CVV</p>
                    <p>Telefone 188 (ligação gratuita) ou www.cvv.org.br para chat, Skype, e-mail e mais informações
                    </p>
                </div>
            </div>
            <div id="instituicoes">
                <div id="empresas">
                    <button id="btn-back"><img src="{% static 'icones/back.png' %}" alt=""></button>
                    <ol class="slider">
                        <li>
                            <img src="{% static 'imagens/empresa1.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'imagens/empresa2.jpg' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'imagens/empresa3.jpg' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'imagens/empresa4.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'imagens/empresa5.jpg' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'imagens/empresa6.jpg' %}" alt="">
                        </li>                      
                    </ol>
                    <button id="btn-next"><img src="{% static 'icones/next.png' %}" alt=""></button>
            </div>
        </div>
    </section>
    {% endblock %}